obj
bin
out
lcov.info
codeship.aes
.*.env
*.feature.cs
*-secrets.env.yml
.version
**/.vs
*.user
.idea
src/output.txt
temp
.vs
*.csproj.user
userid
*.sln.DotSettings.user
.DS_Store
.history
.dockercfg
*.binlog
mono_crash.*
